{% extends "base.html" %}
{% load static %}

{% block profile %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<div class="profile-container">
    <div class="profile-card">
        <div class="profile-avatar">
            <img src="{% static 'img/default_avatar.png' %}" alt="Avatar">
        </div>
        <div class="profile-info">
            <h2>{{ user.username }}</h2>
            <table class="profile-table">
                <tr>
                    <th>Email:</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Score:</th>
                    <td>{{ user.profile.score }}</td>
                </tr>
                <tr>
                    <th>Date joined:</th>
                    <td>{{ user.date_joined|date:"Y-m-d H:i" }}</td>
                </tr>
                <tr>
                    <th>Last login:</th>
                    <td>{{ user.last_login|date:"Y-m-d H:i" }}</td>
                </tr>
                <!-- Add more profile fields here if needed -->
            </table>
        </div>
    </div>
</div>
{% endblock profile %}