{% extends "base.html" %}
{% load static %}

{% block register %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<div class="auth-container">
    <div class="auth-card">
        <h2>Регистрация</h2>
        <form method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
                <div class="form-group">
                    <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                    {{ f }}
                    <div class="form-error">{{ f.errors }}</div>
                </div>
            {% endfor %}
            <button type="submit" class="auth-btn">Зарегистрироваться</button>
            
        </form>
    </div>
</div>
{% endblock register %}